.JobCard{
    background-color: white;
    width:60%;
    margin-left:20%;
    border-radius: 10px;
    padding:0px 8px 8px 8px;
    margin-bottom:20px;
    box-shadow: 10px 10px 10px #18215A;
    color:black;
}
