.Home {
    margin-top: -3%;
    background-image: url(http://localhost:3000/jobs.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.Home-h1 {
    display: block;
    padding-top: 10%;
    font-size: 64px;
    color: white;
}

.Home h2 {
    color: white;
    padding-bottom: 22%;
}

.Home-subheading {
    display: block;
    padding-top: 20px;
    padding-bottom: 1%;
    font-size: 36px;
    color: white;
}

.Home-buttons {
    margin-top: 2%;
    padding-bottom: 22%;
}
.Home-buttons button {
    width: 200px;
    font-size: 24px;
    border-radius: 10px;
}

.Home-buttons a {
    color: white;
    text-decoration: none;
}